name: Distros Updater

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */4 * * *'

jobs:
  update-distros:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Get Node
        uses: actions/setup-node@v4
        with:
          node-version: latest
      - name: Install libraries
        run: npm install rss-parser cheerio parse-torrent
      - name: Configure Git
        run: git config --global user.name "Leo Herzog" && git config --global user.email "xd1936@gmail.com"
      - name: Update Arch
        run: node .github/arch-updater.js
      - name: Add, Commit, and Push Arch
        run: git add distros.json && git commit -m "Update Arch" && git push || echo "No changes"
      - name: Update Debian
        run: node .github/debian-updater.js
      - name: Add, Commit, and Push Debian
        run: git add distros.json && git commit -m "Update Debian" && git push || echo "No changes"
      - name: Update Fedora
        run: node .github/fedora-updater.js
      - name: Add, Commit, and Push Fedora
        run: git add distros.json && git commit -m "Update Fedora" && git push || echo "No changes"
      - name: Update Ubuntu
        run: node .github/ubuntu-updater.js
      - name: Add, Commit, and Push Ubuntu
        run: git add distros.json && git commit -m "Update Ubuntu" && git push || echo "No changes"
      - name: Update Raspberry Pi OS
        run: node .github/raspberry-pi-os-updater.js
      - name: Add, Commit, and Push Raspberry Pi OS
        run: git add distros.json && git commit -m "Update Raspberry Pi OS" && git push || echo "No changes"
    # - name: Update Elementary
    #   run: node .github/elementary-os-updater.js
    # - name: Add, Commit, and Push Elementary
    #   run: git add distros.json && git commit -m "Update Elementary OS" && git push || echo "No changes"
