name: File Sizes Updater

on:
  push:
  schedule:
    - cron: '0 0 * * *'

jobs:

  update-file-sizes:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2
    - name: Get Node
      uses: actions/setup-node@v2.4.0
      with:
        node-version: '16'
    - name: Install libraries
      run: npm install node-fetch
    - name: Configure Git
      run: git config --global user.name "Leo Herzog" && git config --global user.email "xd1936@gmail.com"
    - name: Add missing file sizes
      run: node .github/update-file-sizes.js
    - name: Add, Commit, and Push
      run: git add distros.json && git commit -m "Add Missing File Sizes" && git push || echo "No changes"
